CurrentTab: {{currentTab}}

<mat-tab-group (selectedIndexChange)="setTabIndex($event)">
    <mat-tab label="Issue 1">
        <ng-template matTabContent>
            <app-tranche issueId="1"></app-tranche>
        </ng-template>
    </mat-tab>
    <mat-tab label="Issue 2">
        <ng-template matTabContent>
            <app-tranche issueId="2"></app-tranche>
        </ng-template>
    </mat-tab>
    <mat-tab label="Issue 3">
        <ng-template matTabContent>
            <app-tranche issueId="3"></app-tranche>
        </ng-template>
    </mat-tab>
</mat-tab-group>